body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background: linear-gradient( navy, #001f3f); /* Gradient from navy to a darker shade */
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.logo {
  color: #ffcc00; /* Yellow color for the logo */
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto; /* Center the logo */
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 25px; /* Increased margin for spacing */
  font-size: 18px;
  font-weight: bold;
}

nav a:hover:not(.logo) {
  border-bottom: 2px solid white;
}

.logo:hover {
  color: #ffcc00; /* Keep the logo color unchanged on hover */
}