body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: navy;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffcc00; /* Yellow color for the logo */
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 25px; /* Increased margin for spacing */
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 2px solid white;
}